/* CSS Document */
fieldset{
	float: left;
	width: 30%;
}
legend{
	font-size: 20px;
}
label{
	font-weight: bold;
	text-align: right;
	float: left;
	color: blue;
}
fieldset p{
	clear: both;
}
fieldset input,select{
	width: 100%;
}
.divValidar{
	float: left;
	padding-left: 2%;
	padding-top: 6%;
}